DEBUG=True
DJANGO_SECRET_KEY=troque-esta-chave

AD_LDAP_SERVER_URI=ldaps://192.168.22.8:636
AD_LDAP_BASE_DN=dc=sidertec,dc=intra,dc=net
AD_LDAP_BIND_DN=glpi_ldap@sidertec.intra.net
AD_LDAP_BIND_PASSWORD=troque-pela-senha-do-bind

VAULT_DEFAULT_PASSWORD=troque-a-senha-mestra-do-cofre
VAULT_ENCRYPTION_KEY=hN8RE5vob6Plh5AxaClRfvoYRE78KZmoWaLts0-E1-w=
VAULT_UNLOCK_SECONDS=60
VAULT_CLIPBOARD_CLEAR_SECONDS=15
