DEBUG=False
DJANGO_SECRET_KEY=troque-esta-chave
TI_GROUP_NAME=TI

AD_LDAP_SERVER_URI=ldaps://SRV-AD.SIDERTEC.INTRA.NET:636
AD_LDAP_BASE_DN=dc=sidertec,dc=intra,dc=net
AD_LDAP_BIND_DN=glpi_ldap@sidertec.intra.net
AD_LDAP_BIND_PASSWORD=troque-pela-senha-do-bind
AD_LDAP_VALIDATE_CERT=True
AD_LDAP_CA_CERT_FILE=C:\caminho\CertificadoADAutenticacao.cer
AD_LDAP_CONNECT_TIMEOUT=5

VAULT_DEFAULT_PASSWORD=
VAULT_ENCRYPTION_KEY=hN8RE5vob6Plh5AxaClRfvoYRE78KZmoWaLts0-E1-w=
VAULT_UNLOCK_SECONDS=120
VAULT_CLIPBOARD_CLEAR_SECONDS=15
VAULT_MAX_FAILED_ATTEMPTS=5
VAULT_LOCKOUT_SECONDS=300
VAULT_ALLOW_INSECURE_KEY_DERIVATION=False
WHATSAPP_NOTIFICATIONS_ENABLED=False
WHATSAPP_WEBHOOK_URL=
WHATSAPP_WEBHOOK_TOKEN=
WHATSAPP_WEBHOOK_TIMEOUT_SECONDS=10
WHATSAPP_GROUP_JID=120363421981424263@g.us
WHATSAPP_SEND_GROUP_ON_NEW_TICKET=True
WHATSAPP_TEMPLATE_NEW_TICKET=🚨 {urgencia} - {solicitante}\n📄 {title}

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SERVE_STATIC_WITH_DJANGO=True
SERVE_MEDIA_WITH_DJANGO=True
