DEBUG=True
DJANGO_SECRET_KEY=troque-esta-chave

AD_LDAP_SERVER_URI=ldaps://192.168.22.8:636
AD_LDAP_BASE_DN=dc=sidertec,dc=intra,dc=net
AD_LDAP_BIND_DN=glpi_ldap@sidertec.intra.net
AD_LDAP_BIND_PASSWORD=troque-pela-senha-do-bind
